@model TestProject.Models.MyEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MyEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
        <dt>Property1</dt>
        <dd>@Model.Property1</dd>
        <dt>Property2</dt>
        <dd>@Model.Property2</dd>
    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
